body {
    background-size: cover;
    background-image: url(tlo.png);
    background-position: center;
    margin: 0 auto;
    display: flex;
    place-items: center;
    min-height: 100vh;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #9bafd9;
}

h1 {
    font-family: "Syne", sans-serif;
    color: white;
    font-size: 30px;
}

h1:hover {
    cursor: pointer;
    font-size: 35px;
    text-shadow: 0 0 10px #fff, 0 0 30px #9bafd9;
    transition: 0.3s;
    color: black;
}

table {
    border: 1px solid black;
    color: black;
}

th {
    font-family: "JetBrains Mono", monospace;
    border: 1px solid black;
}

th:hover {
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    text-shadow: 0 0 10px #fff, 0 0 30px #9bafd9;
    transition: 0.3s;
    box-shadow: 0 0 15px white;
    color: white;
}

td {
    font-family: "JetBrains Mono", monospace;
    border: 1px solid black;
    transition: 0.3s;
}

td:hover {
    font-weight: bold;
    box-shadow: 0 0 15px #9bafd9;
}

#data {
    font-family: "JetBrains Mono", monospace;
    border: 1px solid black;
    transition: 0.3s;
}

#data:hover {
    font-weight: bold;
    box-shadow: 0 0 15px black;
}